<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PINCODE</title>
</head>

<body>
    <form method="post" action="/">
        <input type="text" pattern="\d*" maxlength="6" oninput="this.value=this.value.replace(/[^0-9]/g,'').substring(0,6)" name="pincode" required>
        <button type="submit">SUBMIT</button>
    </form>
</body>

</html>